body {
	background: #999; 
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

.text_container {
	width: 700px;
	margin: 20px auto 50px;
	text-align: center;
	color: #fff8f1;
}

#title {
	font-size: 50px;
	margin-bottom: 50px;
}

#host {
	font-family: Consolas, monaco, monospace;
	font-size: 18px;
	line-height: 1.4; 
}

#piggy_container {
	text-align: center;
}

.piggy {
	display: inline-block;
	margin: 0 30px;
}

.thing_container {
	margin: 30px;
}

a:link {
	color: #fd8e45;
}
a:visited {
	color: #fd8e45;
}
a:hover {
	color: #ff6500;
}
a:active {
	color: #ff6500;
}